.searchBox {
  background-color: #007bFF;
  padding: 40px 120px;
  border-radius: 8px;
  text-align: center;

  &-title {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
  }

  &-subtitle {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin: 18px 0;
  }

  &-form {
    display: block;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 300;
    color: #828282;
  }
}

.contentBox {
  margin-top: 24px;
  background-color: #E2E2E2;
  padding: 40px 60px;
  border-radius: 8px;

  .user {
    &-name {
      font-size: 24px;
      font-weight: 700;
      color: #282828;
    }

    &-username {
      font-size: 16px;
      font-weight: 300;
      color: #828282;
    }

    &-photo {
      margin: 12px 0;
      width: 100%;
      height: 260px;
      object-fit: cover;
      border-radius: 20px;
    }

    &-specs {
      font-size: 16px;
      font-weight: 300;
      color: #282828;

      span {
        font-size: 24px;
        font-weight: 700;
      }
    }

    &-bio {
      margin: 12px 0;
      font-size: 28px;
      font-weight: 300;
      color: #282828;
    }

    &-mail {
      font-size: 16px;
      font-weight: 300;
      color: #282828;
    }
  }
}